
<h1>Articles</h1>
<%= link_to 'New Article', new_article_path %>
<% for article in @articles %>
  <div style="padding: 10px; border: 1px solid #ddd; margin: 10px; border-radius: 5px;">
    <div class="">
      Content
    </div>
    <div class="">
      <%= article.content %>
    </div>
    <div style="padding: 20px"></div>
    <div class="">
      Username
    </div>
    <div class="">
      <%= article.user.name %>
    </div>

    <div style="padding: 20px"></div>

    <%= link_to "Edit", edit_article_path(article) %>
    <% if article.user == @current_user %>
      <%= link_to "Delete", delete_article_path(article), method: :delete %>
    <% end %>
  </div>
<% end %>