<div class="card m-3 p-3">
<p id="notice"><%= notice %></p>

<p class="card-header">
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p class="card-body">
  <strong>Content:</strong>
  <%= @article.content %>
</p>

<p class="card-body">
<% if @article.usertags[0] %>
  <strong>Mention:</strong>
  <% for tag in @article.usertags %>
    <small><%=tag.user.username%></small>
  <% end %>
<% end %>
</p>
<p class="card-body text-info">
  <strong>Auteur:</strong>
  <%= @article.user.username %>
</p>
<% if @current_user && @current_user.id == @article.user.id %>
  <% if @article.display_or_not == nil %>
  <p><%= link_to 'Corbeille', @article, method: :delete, data: { confirm: 'Are you sure?' }, :class => "not-nav" %></p>
  <p><%= link_to 'Modifier', edit_article_path(@article), :class => "not-nav" %></p>
  <% else %>
  <p><%= link_to "Détruire l'article", @article, method: :delete, data: { confirm: 'Are you sure?' }, :class => "not-nav" %></p>
  <p><%= link_to 'Récupérer', recover_my_article_path(@article), :class => "not-nav" %></p>
  <% end %>
  <p><%= link_to 'Historique', historical_article_path(@article), :class => "not-nav" %></p>
<% elsif @current_user %>
  <p><%= link_to 'Modifier', edit_article_path(@article), :class => "not-nav" %></p>
<% end %>
<% if @article.display_or_not != nil %>
  <small class="card-text text-danger">Supprimer le <%= @article.display_or_not %></small>
<% end %>
</div>
<%= link_to 'Retour', articles_path, :class => "not-nav" %>
