<div class="card m-3 p-3">
<p id="notice"><%= notice %></p>

<p class="card-header">
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p class="card-body">
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p class="card-body bg-info">
  <strong>Point:</strong>
  <%= @user.point %>
</p>

<p class="card-body">
  <strong>Création de compte</strong>
  <%= @user.created_at %>
</p>
</div>

<%= link_to 'Edit', edit_user_path(@user), :class => "not-nav" %> |
<%= link_to 'Retour', users_path, :class => "not-nav" %>
